* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #102F45;
    font-family: 'Roboto Condensed', sans-serif;
}

.social {
    color: white;
    font-size: 50px;
    margin-top: 2rem;
    text-align: center;
    font-weight: bold;
}

.post1 {
    background-color: white;
    width: 600px;
    height: 500px;
    margin: 2rem auto;
    filter: drop-shadow(1px 2px 4px white);
}

.hero_image {
    width: 550px;
    height: 250px;
    margin: auto;
}

.likes {
    margin: auto;
    width: 350px;
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.like {
    font-weight: bold;
    font-size: 14px
}

.total_likes {
    font-size: 14px;
    font-weight: bold;
}

.testo {
    padding: 25px;
    margin-top: 1rem;
    font-weight: 20px;
}

.avatar {
    border-radius: 50%;
    width: 70px;
    margin-left: 20px;
    margin-top: 20px;
}

.nome_utente {
    margin-top: 35px;
    margin-left: 15px;
}

.data_creazione_post {
    margin-left: 105px;
    margin-top: -30px;
    opacity: 60%;
    font-size: 14px;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.avatar_nome {
    display: flex;
}